@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #F5F5F5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

main {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  gap: 20px;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

button {
  cursor: pointer;
}

.left-sidebar,
.cards .single-card,
.right-sidebar {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,.18);
  padding: 10px;
}

.left-sidebar,
.right-sidebar {
  flex-basis: 300px;
  flex-grow: 0;
}

.left-sidebar h2,
.left-sidebar p,
.left-sidebar button {
  margin-bottom: 15px;
}

/* Left Sidebar */
.left-sidebar {
  height: fit-content;
}

.left-sidebar button {
  background-color: #0F76D3;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 10.5px 19px;
}

.left-sidebar button:hover {
  background-color: #0e6bbc;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

button.dropbtn {
  display: flex;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #BBBBBB;
  padding: 10px 15px;
  margin-bottom: 2px;
}

button.dropbtn:hover {
  background-color: white;
}

button.dropbtn .label {
  flex-grow: 1;
  text-align: left;
}

button.dropbtn .arrow-down {
  width: 15px;
  margin-top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,.18);
  z-index: 1;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Cards */
.cards {
  flex-basis: 550px;
}

.cards .single-card {
  margin-bottom: 10px;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  line-height: 280px;
  font-size: 24px;
  font-weight: 700;
}

/* Right Sidebar */
.right-sidebar {
  height: fit-content;
}

.right-sidebar p {
  margin-bottom: 10px;
}

.right-sidebar .user {
  display: flex;
  padding: 10px 0;
}

.right-sidebar .name {
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  margin-top: 2px;
}

.right-sidebar .location {
  font-size: 14px;
  font-weight: 400;
  color: #585858;
  line-height: 16.94px;
}

.right-sidebar .avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 10px;
}

.right-sidebar .user-details {
  flex-grow: 3;
}

.right-sidebar button.plus-icon {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.right-sidebar button.plus-icon:hover img {
  background-color: rgb(229, 229, 229);
  border-radius: 40px;
}

.right-sidebar .plus-icon img {
  width: 22px;
}