@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #F5F5F5;
  font-family: "Inter", sans-serif;
}

main {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.left-sidebar,
.cards,
.right-sidebar {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,.18);
  padding: 10px;
}

.left-sidebar {

}

.cards {

}

.right-sidebar {

}