@import './base.css';

body {
  background-color: #F5F5F5;
}

main {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.left-sidebar,
.cards,
.right-sidebar {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,.18);
  padding: 10px;
}

.left-sidebar {

}

.cards {

}

.right-sidebar {

}